@font-face {
    // font-family: 'Newsreader';
    // src: url('../fonts/Newsreader16pt-Regular.woff') format('woff'), url('../fonts/Newsreader16pt-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}