/* Variables for Responsive nav componenent
   ------------------------------ */
$responsive-nav-height: 3em; // Level 1 links
$responsive-nav-breakpoint: 40em; // Collapse the nav at this width

$desktop-link-color: #fff;
$desktop-link-background-color: #000;
